@import "tailwindcss";
@tailwind utilities;


:root {
  --background: #F9F7F2;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Graphik Semibold';
  src: url('/fonts/Graphik-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto.ttf') format('truetype');
}

.font-graphik {
  font-family: 'Graphik', sans-serif !important;
}

.font-graphik-semibold {
  font-family: 'Graphik Semibold', sans-serif !important;
}

.font-roboto {
  font-family: 'Roboto', sans-serif !important;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.split {
  will-change: transform, opacity;
}

.split * {
  will-change: transform, opacity;
}

.no-scrollbar::-webkit-scrollbar { display: none; }  /* Chrome/Safari */
.no-scrollbar { 
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

/* BODY COPY — SMALL */
.dt-body-sm {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(2.4vw,1.64vh, 3.28vw);
  line-height: clamp(3.4vw,2.35vh, 4.7vw);
}

.dt-body-sm>p {
  margin-bottom: clamp(3.4vw,2.35vh, 4.7vw);
}

.dt-body-sm>p:last-child {
  margin-bottom: 0;
}

@media (min-width:1080px) and (min-aspect-ratio:1/1) {
  .dt-body-sm {
    font-size: clamp(0.7vw, 1.85vh, 0.925vw);
    line-height: clamp(0.8vw,2vh,1vw);
  }

  .dt-body-sm>p {
    margin-bottom: clamp(0.8vw, 2vh, 1vw);
  }
}

/* BODY COPY — LARGE */
.dt-body-lg {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(3.15vw,2.11vh, 4.22vw);
  line-height: clamp(4.2vw,2.82vh,5.64vw);
}

.dt-body-lg>p {
  margin-bottom: clamp(4.2vw,2.82vh,5.64vw);
}

.dt-body-lg>p:last-child {
  margin-bottom: 0;
}

@media (min-width:1080px) and (min-aspect-ratio:1/1) {
  .dt-body-lg {
    font-size: clamp(0.95vw, 2.3vh, 1.15vw);
    line-height: clamp(1vw, 2.75vh, 1.375vw);
  }

  .dt-body-lg>p {
    margin-bottom: clamp(1vw, 2.75vh, 1.375vw);
  }
}

/* BUTTON — PRIMARY */
.dt-btn {
  font-family: 'Graphik Semibold', sans-serif;
  font-size: clamp(2.7vw,1.88vh, 3.76vw);
  line-height: clamp(3.5vw,2.35vh, 4.7vw);
}

.dt-btn>p {
  margin-bottom: clamp(3.5vw,2.35vh, 4.7vw);
}

.dt-btn>p:last-child {
  margin-bottom: 0;
}

@media (min-width:1080px) and (min-aspect-ratio:1/1) {
  .dt-btn {
    font-size: clamp(0.75vw, 2vh, 1vw);
    line-height: clamp(1vw, 2.5vh, 1.25vw);
  }

  .dt-btn>p {
    margin-bottom: clamp(1vw, 2.5vh, 1.25vw);
  }
}

/* BUTTON — SECONDARY */
.dt-btn-secondary {
  font-family: 'Graphik Semibold', sans-serif;
  font-size: clamp(2.4vw,1.64vh, 3.28vw);
  line-height: clamp(3.5vw,2.35vh, 4.7vw);
}

.dt-btn-secondary>p {
  margin-bottom: clamp(3.5vw,2.35vh, 4.7vw);
}

.dt-btn-secondary>p:last-child {
  margin-bottom: 0;
}

@media (min-width:1080px) and (min-aspect-ratio:1/1) {
  .dt-btn-secondary {
    font-size: clamp(0.5vw, 1.6vh, 0.8vw);
    line-height: clamp(1vw, 2.6vh, 1.3vw);
  }

  .dt-btn-secondary>p {
    margin-bottom: clamp(1vw, 2.6vh, 1.3vw);
  }
}

/* HEADINGS */
.dt-h1 {
  font-family: 'Graphik Semibold', sans-serif;
  font-size: clamp(8.7vw,5.87vh,11.74vw);
  line-height: clamp(9.6vw,6.46vh,12.92vw);
}

.dt-h1>p {
  margin-bottom: clamp(9.6vw,6.46vh,12.92vw);
}

.dt-h1>p:last-child {
  margin-bottom: 0;
}

@media (min-width:1080px) and (min-aspect-ratio:1/1) {
  .dt-h1 {
    font-size: clamp(8vw, 18.5vh, 9.25vw);
    line-height: clamp(8.5vw, 19.5vh, 9.75vw);
  }

  .dt-h1>p {
    margin-bottom: clamp(8.5vw, 19.5vh, 9.75vw);
  }
}

.dt-h2 {
  font-family: 'Graphik Semibold', sans-serif;
  font-size: clamp(6.15vw,4.11vh, 8.22vw);
  line-height: clamp(7vw,4.69vh, 9.38vw);
}

.dt-h2>p {
  margin-bottom: clamp(7vw,4.69vh, 9.38vw);
}

.dt-h2>p:last-child {
  margin-bottom: 0;
}

@media (min-width:1080px) and (min-aspect-ratio:1/1) {
  .dt-h2 {
    font-size: clamp(3.75vw, 9.25vh, 4.625vw);
    line-height: clamp(4vw, 10.18vh, 5.09vw);
  }

  .dt-h2>p {
    margin-bottom: clamp(4vw, 10.18vh, 5.09vw);
  }
}

.dt-h3 {
  font-family: 'Graphik Semibold', sans-serif;
  font-size: clamp(3.5vw,2.35vh, 4.7vw);
  line-height: clamp(3.8vw,2.58vh, 5.16vw);
}

.dt-h3>p {
  margin-bottom: clamp(3.8vw,2.58vh, 5.16vw);
}

.dt-h3>p:last-child {
  margin-bottom: 0;
}

@media (min-width:1080px) and (min-aspect-ratio:1/1) {
  .dt-h3 {
    font-size: clamp(1.5vw,4.45vh,2.225vw);
    line-height: clamp(1.9vw,4.9vh,2.45vw);
  }

  .dt-h3>p {
    margin-bottom: clamp(1.9vw,4.9vh,2.45vw);
  }
}

.dt-h4 {
  font-family: 'Graphik', sans-serif;
  font-size: clamp(3.15vw,2.11vh, 4.22vw);
  line-height: clamp(3.5vw,2.35vh, 4.7vw);
}

.dt-h4>p {
  margin-bottom: clamp(3.5vw,2.35vh, 4.7vw);
}

.dt-h4>p:last-child {
  margin-bottom: 0;
}

@media (min-width:1080px) and (min-aspect-ratio:1/1) {
  .dt-h4 {
    font-size: clamp(1vw, 2.75vh, 1.375vw);
    line-height: clamp(1.2vw, 3.42vh, 1.71vw);
  }

  .dt-h4>p {
    margin-bottom: clamp(1.2vw, 3.42vh, 1.71vw);
  }
}

.dt-h5 {
  font-family: 'Graphik Semibold', sans-serif;
  font-size: clamp(3vw,1.76vh, 3.52vw);
  line-height: clamp(3.15vw,2.11vh, 4.22vw);
}

.dt-h5>p {
  margin-bottom: clamp(3.15vw,2.11vh, 4.22vw);
}

.dt-h5>p:last-child {
  margin-bottom: 0;
}

@media (min-width:1080px) and (min-aspect-ratio:1/1) {
  .dt-h5 {
    font-size: clamp(0.7vw,2vh,1vw);
    line-height: clamp(0.9vw, 2.5vh, 1.25vw);
  }

  .dt-h5>p {
    margin-bottom: clamp(0.9vw, 2.5vh, 1.25vw);
  }
}

.scroll-mask-bottom {
  --fade: 10px; /* adjust as needed */
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0,
    black calc(100% - var(--fade)),
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    black 0,
    black calc(100% - var(--fade)),
    transparent 100%
  );
}