@layer utilities {
  .animate-scale-in-bottom-right {
    transform-origin: bottom right;
    transition: transform 0.5s cubic-bezier(0.4,0,0.2,1);
    will-change: transform;
  }
  .scale-0 {
    transform: scale(0);
  }
  .scale-100 {
    transform: scale(1);
  }
}